[Unit]
Description=ROMA daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/.local/share/roma
ExecStart=%h/.local/bin/romad
Restart=on-failure
RestartSec=2
Environment=HOME=%h

[Install]
WantedBy=default.target
